footer {
    text-align: center;
    padding: 10px;
    background-color: blanchedalmond;
    margin-top: 30px;
    font-size: 0.9em;
    font-family: Arial;
}
foot a {
    text-decoration: none;
    color:#0073e6
    margin: 0 8px
}
.nav-bar {
    list-style-type: none;
    display: flex;
    justify-content: center;
    background-color: blanchedalmond;
    padding: 15px;
}
.nav-bar li {
    margin: 0 15px;
}
.nav-bar a:hover {
    text-decoration: none;
    color: rgb(238, 177, 177);
    font-weight: bolder;
    font-size: x-large;
}
body {
    background-color: blanchedalmond;
}

.skills-text h1 {
    color: #333;
    margin-bottom: 20px;
    font-size: 1.5em;
    font-family: arial, sans-serif;
}
.skills-section {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    padding: 40px;
    max-width: 1000px;
    margin: 0 auto;
    background-color: #d69999;
}
.skills-img {
    width: 300px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgb(0, 0, 0, 0.1);
}
.skills-text {
    max-width: 500px;
}
.skills-text ul {
    list-style-type: disc;
    padding-left: 20px;
    line-height: 1.6;
    color: #333;
}